@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

img {
    height: 2.5vh;
    width: auto;
}

body {
    font-family: 'VT323', 'Press Start 2P', monospace;
    background-color: #141518;
    color: #fff;

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    font-size: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 8vh;
    width: auto;
}

#header {
    font-size: 48px;
}

#games {
    font-size: 40px;
}

.github,
#githubLink,
#githubLogo {
    color: #fff;
    text-decoration: none;
}

#githubLogo {
    filter: invert(1);
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #333;
    border: none;
    width: 100vw;
}

header {
    height: 6.5vh;
    margin-bottom: auto;
}

footer {
    font-family: monospace;
    height: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    height: 50vh;

    border: 1px solid #ffffff70;
    padding: 20px;

    margin-bottom: auto;
}

.bonus {
    height: 25vh;
    border: 1px solid #ffffff70;
    width: 38vw;
    margin-bottom: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}
/* visited link */
a:link {
    color: deepskyblue;
}

a:visited {
    color: rgb(0, 145, 194);
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: red;
}

@media (max-width: 1200px) {
    #header {
        font-size: 30px;
    }
    #games,
    #bonus {
        font-size: 25px;
    }
    .container,
    .bonus {
        width: 90vw;
        font-size: 15px;
    }
    .bonus {
        padding: 20px;
        text-align: left;
    }
}
